In [49]:
import numpy as np    # for numerical opertations
import pandas as pd   # for data analysis and manipulation

# for creating the classification model by building a decision tree
from sklearn.tree import DecisionTreeClassifier   

# for splitting data arrays into two subsets: for training data and for testing data
from sklearn.model_selection import train_test_split

from sklearn.metrics import accuracy_score

In [50]:
df = pd.read_csv('tripadvisor_review.csv')

In [51]:
df.head()

,UserID,Art_galleries,Dance_clubs,Juice_bars,Restaurants,Museums,Resorts,Picnic_spots,Beaches,Theaters,Religious_institutions
0,1,0.93,1.8,2.29,0.62,0.80,2.42,3.19,2.79,1.82,2.42
1,2,1.02,2.2,2.66,0.64,1.42,3.18,3.21,2.63,1.86,2.32
2,3,1.22,0.8,0.54,0.53,0.24,1.54,3.18,2.80,1.31,2.50
3,4,0.45,1.8,0.29,0.57,0.46,1.52,3.18,2.96,1.57,2.86
4,5,0.51,1.2,1.18,0.57,1.54,2.02,3.18,2.78,1.18,2.54

In [52]:
X = df.drop(['UserID'], axis=1)
X.head()

,Art_galleries,Dance_clubs,Juice_bars,Restaurants,Museums,Resorts,Picnic_spots,Beaches,Theaters,Religious_institutions
0,0.93,1.8,2.29,0.62,0.80,2.42,3.19,2.79,1.82,2.42
1,1.02,2.2,2.66,0.64,1.42,3.18,3.21,2.63,1.86,2.32
2,1.22,0.8,0.54,0.53,0.24,1.54,3.18,2.80,1.31,2.50
3,0.45,1.8,0.29,0.57,0.46,1.52,3.18,2.96,1.57,2.86
4,0.51,1.2,1.18,0.57,1.54,2.02,3.18,2.78,1.18,2.54

In [53]:
def setLabel(score: float) -> str:
    """ Check the score from the data and give back the label

    Base on the rating score, compare with the enum "Rating" to set
    the label for each record.

    Arg:
        score(float): The number from each record.

    Return:
        resultStr(str): The label base on different input.

    """
    pass

    resultStr = ""
    if 0.0 <= score <= 1.0:
        resultStr = "Terrible"
    elif 1.0 < score <= 2.0:
        resultStr = "Poor"
    elif 2.0 < score <= 3.0:
        resultStr = "Average"
    elif 3.0 < score <= 4.0:
        resultStr = "VeryGood"
    elif 4.0 < score <= 5.0:
        resultStr = "Excellent"
    else:
        resultStr = "No rating scores"
    return resultStr

labels = (df['Art_galleries'] + df['Dance_clubs'] + df['Juice_bars'] + df['Restaurants'] + df['Museums'] + df['Resorts'] + df['Picnic_spots'] + df['Beaches'] + df['Theaters'] + df['Religious_institutions']) / 10
y = labels.apply(setLabel)

In [54]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=3)

In [55]:
X_train

,Art_galleries,Dance_clubs,Juice_bars,Restaurants,Museums,Resorts,Picnic_spots,Beaches,Theaters,Religious_institutions
682,0.83,0.96,1.47,0.50,1.46,2.02,3.18,2.94,1.22,2.50
475,1.38,1.12,1.92,0.64,0.62,2.32,3.19,2.94,1.76,2.48
115,1.15,1.28,0.18,0.61,0.70,2.30,3.18,3.01,1.73,2.34
851,0.96,1.96,1.50,0.53,1.26,2.50,3.19,2.79,1.54,2.66
943,0.64,1.68,0.24,0.47,0.94,1.66,3.18,2.77,1.57,3.04
...,...,...,...,...,...,...,...,...,...,...
952,0.93,2.08,1.26,0.56,0.94,2.56,3.18,2.81,1.63,2.54
643,0.74,1.56,0.24,0.61,0.70,1.42,3.18,2.82,1.50,2.96
249,0.34,1.16,0.18,0.40,1.18,1.86,3.18,2.82,1.76,2.86
664,1.06,1.28,1.30,0.43,0.24,0.46,3.17,2.86,1.15,3.38
874,0.80,1.28,0.14,0.39,1.06,1.52,3.17,2.94,1.86,2.88

In [56]:
X_test

,Art_galleries,Dance_clubs,Juice_bars,Restaurants,Museums,Resorts,Picnic_spots,Beaches,Theaters,Religious_institutions
563,0.70,1.52,1.46,0.50,0.94,1.70,3.18,2.64,0.96,2.94
194,0.34,1.16,0.18,0.40,1.18,1.86,3.18,2.82,1.76,2.86
593,0.83,1.96,1.33,0.54,1.44,2.54,3.18,2.87,1.28,2.74
58,0.64,1.20,2.27,0.64,1.42,2.83,3.20,2.79,1.47,2.38
523,0.74,0.96,0.26,0.42,0.86,1.54,3.17,2.86,1.63,3.04
...,...,...,...,...,...,...,...,...,...,...
907,0.77,1.64,2.85,0.53,1.04,1.94,3.20,2.95,1.25,2.32
359,1.76,1.20,1.30,0.30,0.38,0.94,3.18,2.62,1.15,3.14
224,0.61,1.20,2.05,0.61,1.30,3.06,3.19,2.79,1.57,2.42
14,0.96,1.68,2.29,0.51,1.20,2.84,3.20,2.82,2.02,2.46
170,0.93,1.16,0.26,0.51,1.42,2.40,3.18,2.97,2.18,2.80

In [57]:
y_train

682    Poor
475    Poor
115    Poor
851    Poor
943    Poor
       ...
952    Poor
643    Poor
249    Poor
664    Poor
874    Poor
Length: 686, dtype: object

In [58]:
y_test

563    Poor
194    Poor
593    Poor
58     Poor
523    Poor
       ...
907    Poor
359    Poor
224    Poor
14     Poor
170    Poor
Length: 294, dtype: object

In [59]:
dt_clf = DecisionTreeClassifier()
dt_clf.fit(X_train, y_train)

DecisionTreeClassifier()

In [60]:
y_pred = dt_clf.predict(X_test)
accuracy_score(y_test, y_pred)

0.9829931972789115

In [61]:
def dtcRun1(X, y, c="gini", s="best", md=7, mln=5):
    # Randomly split 75% data for training, then the rest 25% data for testing
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=3)
    dt_clf = DecisionTreeClassifier(criterion=c, splitter=s, max_depth=md, max_leaf_nodes=mln)
    dt_clf.fit(X_train, y_train)
    y_pred = dt_clf.predict(X_test)
    return accuracy_score(y_test, y_pred)
runResult = dtcRun1(X, y, c="gini")
print("Criterion = gini", runResult)

Criterion = gini 0.9714285714285714

In [62]:
def dtcRun(X, y, c="gini", s="best", md=7, mln=5):
    result = []
    # 5 runs
    for i in range(5):
        accuracyScore = 0
        # Run 50 times
        for z in range(50):
            # Randomly split 75% data for training, then the rest 25% data for testing
            X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=3)
            dt_clf = DecisionTreeClassifier(criterion=c, splitter=s, max_depth=md, max_leaf_nodes=mln)
            dt_clf.fit(X_train, y_train)
            y_pred = dt_clf.predict(X_test)
            accuracyScore += accuracy_score(y_test, y_pred)
        result.append(accuracyScore / 50)
    return np.mean(np.array(result)), result

mean, runResult = dtcRun(X, y, c="gini")
print("Criterion = gini", mean, runResult)

Criterion = gini 0.9714285714285701 [0.9714285714285702, 0.9714285714285702, 0.9714285714285702, 0.9714285714285702, 0.9714285714285702]